@model CoffeeBean.Entity.Product
@{
    ViewData["Title"] = "Category Page";
}

   <h3>@Model.Name</h3>
    <p>@Model.Price</p>
    <p>@Model.Size</p>
    <p>@Model.Count</p>
    <p>@Model.Description</p>